<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <header>
        <div>
            <div>
                <a href="main.html">Главная</a>
            </div>
            <div>
                <a href="Каталог/catalog.html">Каталог</a>
            </div>
            <div>
                <a href="anons.html">Анонсы, новости, события</a>
            </div>
            <div>
                <a href="media.html">Медиа, фото, видео</a>
            </div>
            <div>
                <a href="about_us.html">О нас</a>
            </div>
            <div>
                <a href="team.html">Наша команда</a>
            </div>
            <div>
                <a href="catalog_space.html">Площадки</a>
            </div>
            <div>
                <a href="contact.html">Контакты</a>
            </div>
        </div>
    </header>
   <div>С кем мы сотрудничаем и работаем</div>
</body>
</html>